<table style="width:100%;color:#2b5e92;background-color: #F2F1F1;text-align:center" cellspacing="2" cellpadding="1" >

    <tr style="background-color:#2b5e92;color:white;">
        <th colspan="6">
            <h4>Sectiunea A1.3: Proiecte - {{ projects.totalPoints|number_format(3) }} puncte</h4>
        </th>
    </tr>
    <tr style="background-color:#FEC643;">
        <th style="width:4%">#</th>
        <th style="width:20%">Nr contract</th>
        <th  style="width:20%">Rolul salariatului</th>
        <th style="width:20%">Sume incasate (RON)</th>
        <th style="width:20%">Suma totala dupa aplicarea factorului de corectie</th>
        <th style="width:16%">Puncte</th>
    </tr>

    {% for project in projects.items %}
        {% if project.projectType == 'international' %}
            {% set correction=5 %}
        {% elseif project.projectType == 'national'%}
            {% set correction=1 %}
        {% endif %}
        <tr >
            <td>{{ loop.index }}</td>
            <td>
                <b>{{ project.contract }}</b>

               contract: {{ project.projectType }}

            </td>
            <td>{{ project.userType|capitalize }}</td>
            <td>
            {% for budget in project.budgets %}

                {% if project.projectType=='economic'%}
                  {% set correction=(budget.type=='profit')?20:2 %}
                {% endif %}

                <b>{{ budget.year|date('Y') }}</b><br>
                {{ budget.budget|number_format(2)  }}  <br>
                ({{ budget.type }})<br>
                Factor corectie:{{ correction }}
                <br>
            {% endfor %}
            </td>


            <td>{{ project.totalBudgetWithCorrection|number_format(2) }} </td>
            <td>{{ project.total|number_format(3) }}</td>
        </tr>
    {% endfor %}
</table>

