<table style="width:100%;color:#2b5e92;background-color: #F2F1F1;text-align:center" cellspacing="2" cellpadding="1">

    <tr style="background-color:#2b5e92;color:white;">
        <th colspan="9">
            <h4>Sectiunea A1.2: Carti si capitole de carte - {{ books.totalPoints|number_format(3) }} puncte</h4>
        </th>
    </tr>
    <tr style="background-color:#FEC643;">
        <th style="width:4%">#</th>
        <th style="width:20%">Titlu capitol carte</th>
        <th style="width:14%">Autori</th>
        <th style="width:10%">Neff</th>
        <th style="width:14%">Titlu volum, editor</th>
        <th style="width:14%">Editura, oras,tara,anul publicarii</th>
        <th style="width:10%">ISBN/ISSN</th>
        <th style="width:7%">pag. inceput- pag. sfarsit</th>
        <th style="width:7%">Punctaj</th>

    </tr>

    {% for book in books.items %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.authors }}</td>
            <td>{{ book.neff }}</td>
            <td>{{ book.journal }}</td>
            <td>{{ book.miscellanous }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.pages}}</td>
            <td>{{ book.total|number_format(3) }}</td>
        </tr>
    {% endfor %}
</table>